html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
.scene {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  perspective: 800px;
  transform-origin: center center;
  overflow: hidden;
  transition: all 1s;
}
.face {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
}
/**
 * The ship
 */
.ship-container {
  transition: transform 0s;
}
.ship {
  border: 0.15vw solid #0000ff;
}
.hull {
  width: 2.5vw;
  height: 10vw;
  margin: -5vw -1.25vw;
}
.hull.top {
  transform-origin: top center;
  transform: rotateX(5deg);
}
.hull.bottom {
  transform-origin: top center;
  transform: rotateX(-5deg);
}
.hull.back {
  margin: 4.1127326vw -1.25vw;
  height: 1.73648178vw;
  transform-origin: center center;
  transform: rotateX(90deg);
}
.booster {
  width: 1.5vw;
  height: 1.5vw;
  margin: 4.23097349vw -0.75vw;
  border-radius: 50% 50%;
  transform: rotateX(90deg);
}
.booster:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 1.35vw;
  height: 1.35vw;
  margin: -0.075vw;
  border-radius: 50% 50%;
  border: 0.15vw solid #0000ff;
  transform: translateZ(0.4vw);
}
.booster:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 1.65vw;
  height: 1.65vw;
  margin: -0.225vw;
  border-radius: 50% 50%;
  border: 0.15vw solid #0000ff;
  transform: translateZ(-0.4vw);
}
.wing {
  width: 20vw;
  height: 5vw;
  margin: 0 -10vw;
  border-radius: 50% 50% 0 0;
  border-width: 0.3vw;
  border-bottom-width: 0.15vw;
}
.wing.top {
  transform-origin: top center;
  transform: rotateX(5deg);
}
.wing.bottom {
  transform-origin: top center;
  transform: rotateX(-5deg);
}
.wing.back {
  border-width: 0.15vw;
  margin: 4.69155986vw -10vw;
  height: 0.86824089vw;
  transform-origin: center center;
  transform: rotateX(90deg);
  border-radius: 0;
}
.gun {
  width: 0.1vw;
  height: 2vw;
}
.gun.right {
  margin: -1vw 5vw;
}
.gun.left {
  margin: -1vw -5vw;
}
/**
 * The track
 */
.track {
  opacity: 0;
  width: 60vw;
  height: 600px;
  margin: -300px -30vw;
  border: 4px solid #008000;
  border-left-width: 1.33333333px;
  border-right-width: 1.33333333px;
}
.track:before {
  content: '';
  position: absolute;
  width: 20vw;
  height: 600px;
  border-left: 1.33333333px solid #008000;
  border-right: 1.33333333px solid #008000;
  left: 20vw;
}
.track:after {
  content: '';
  position: absolute;
  width: 60vw;
  height: 200px;
  border-top: 4px solid #008000;
  border-bottom: 4px solid #008000;
  top: 20vw;
}
@keyframes track-animation-top {
  0% {
    opacity: 0;
    transform: translateY(-100px) translateZ(-2000px) rotateX(90deg);
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(-100px) translateZ(1000px) rotateX(90deg);
  }
}
@keyframes track-animation-bottom {
  0% {
    opacity: 0;
    transform: translateY(100px) translateZ(-2000px) rotateX(90deg);
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(100px) translateZ(1000px) rotateX(90deg);
  }
}
.track.top:nth-child(1) {
  animation: track-animation-top 3s linear 0s infinite normal;
}
.track.bottom:nth-child(1) {
  animation: track-animation-bottom 3s linear 0s infinite normal;
}
.track.top:nth-child(2) {
  animation: track-animation-top 3s linear 0.6s infinite normal;
}
.track.bottom:nth-child(2) {
  animation: track-animation-bottom 3s linear 0.6s infinite normal;
}
.track.top:nth-child(3) {
  animation: track-animation-top 3s linear 1.2s infinite normal;
}
.track.bottom:nth-child(3) {
  animation: track-animation-bottom 3s linear 1.2s infinite normal;
}
.track.top:nth-child(4) {
  animation: track-animation-top 3s linear 1.8s infinite normal;
}
.track.bottom:nth-child(4) {
  animation: track-animation-bottom 3s linear 1.8s infinite normal;
}
.track.top:nth-child(5) {
  animation: track-animation-top 3s linear 2.4s infinite normal;
}
.track.bottom:nth-child(5) {
  animation: track-animation-bottom 3s linear 2.4s infinite normal;
}
.track.top:nth-child(6) {
  animation: track-animation-top 3s linear 3s infinite normal;
}
.track.bottom:nth-child(6) {
  animation: track-animation-bottom 3s linear 3s infinite normal;
}
